DEFAULT jaglinux
TIMEOUT 300
PROMPT 0

LABEL jaglinux
    KERNEL /boot/vmlinuz
    APPEND initrd=/boot/initrd.gz console=ttyS0,115200 console=tty1

LABEL jaglinux-debug
    KERNEL /boot/vmlinuz
    APPEND initrd=/boot/initrd.gz console=ttyS0,115200 console=tty1 debug

LABEL hd
    LOCALBOOT 0x80
